.block-display__inner {
    background-color: #0088ff;
    margin-left: 120px;
    margin-right: 120px;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.block-display__inner div {
    display: block;
    height: 100px;
    width: 400px;
    background-color: #ffff00;
    margin: 15px;
    text-align: center;
    padding-top: 20px;
    font-size: 30px;
    font-weight: 700;
}

.block-display__inner .heading {
    margin-left: 15px;
    font-size: 60px;
    color: #ffff00;
}