/* disply inline start  */
.inline-display__inner div {
    display: inline;
    font-size: 30px;
    padding: 10px;
    margin: 10px;
    font-weight: 700;
    background-color: blue;
    color: white;
}
