
.learn-position__inner{
  background-color: blue;
}

.learn-position__inner .card {
  display: inline-block;
  width: 300px;
  height: 200px;
  background-color: yellow;
  margin: 10px 10px 20px 10px;
  font-size: 40px;
  font-weight: 900;
  color: #020100;
  text-align: center;
}

.item-10 .heading {
  color: white;
  background-color: black;
  /* width: 190px; */
}

.heading em {
  color: #e8c492;
}

.heading em {
  color: #000000;
  background-color: aquamarine;
}