.learning-fixed-position__inner .fixed {
    background-color: red;
    font-size: 42px;
    position: fixed;
    bottom: 315px;
    width: 659px;
    height: 120px;
    border: 20px double cadetblue;
}