header {
    background: white;
    height: 208px;
}


.hero-bg__img img {
    max-width: 1820px;
    height: 878px;
    border-radius: 30px;
    width: 100%;
    margin: 0 auto;
}

.hero-bg__text {
    width: 829px;
    height: 458px;
    top: 392px;
    left: 230px;
    position: relative;
    letter-spacing: 0px;
    color: white;
    font-family: Poppins;
    top: 392px
}

p.offer {
    width: 323px;
    height: 41px;
    font-size: 24px;
    line-height: 42px;
    top: 392px;
}

.hero-bg__text h4 {
    width: 749px;
    height: 175px;
    font-size: 70px;
    line-height: 90px;
}

span {
    background: #27AE60;
}

.contant {
    width: 829px;
    height: 192px;
    gap: 50px;
    display: flex;
    align-content: flex-start;
    flex-direction: column;
}

.click-me {
    width: 200px;
    height: 60px;
    border-radius: 100px;
    background: #27AE60;
}

.click-me a {
    width: 91px;
    height: 30px;
    top: 15px;
    left: 54px;
    position: relative;
    display: block;
    text-align: center;
    text-decoration: none;
    size: 18px;
    color: black;

}

/* start img box section */
.image-box-arro img {
    width: 20.8px;
    height: 20.8px;
    top: 15.6px;
    left: 15.6px;
    position: relative;
}

.image-box-arro {
    width: 52px;
    height: 52px;
    top: 1239px;
    position: absolute;
    left: 88px;
    border-radius: 30px;
    background: #F2F2F2;
}

.image-card {
    display: flex;
    top: 1155px;
    position: absolute;
    column-gap: 10px;
    width: 220px;
    height: 220px;
    column-gap: 10px;
}

.image-card.item-01 {
    width: 220px;
    height: 220px;
    border-radius: 300px;
    left: 200px;
    border: solid #F2F2F2 2px;
}

.image-card.item-01 img {
    width: 110px;
    height: 110px;
    top: 36px;
    left: 55px;
    position: absolute;
}

.image-card.item-01 h4 {
    width: 148px;
    height: 30px;
    top: 156px;
    position: relative;
    left: 36px;
    text-align: center;
    font-family: poppins;
    font-weight: 500;
    size: 18px;
}

.image-card.item-02 {
    width: 220px;
    height: 220px;
    border-radius: 300px;
    left: 460px;
    border: solid #F2F2F2 2px;
}

.image-card.item-02 img {
    width: 110px;
    height: 110px;
    top: 36px;
    left: 55px;
    position: absolute;
}

.image-card.item-02 h4 {
    width: 148px;
    height: 30px;
    top: 156px;
    position: relative;
    left: 36px;
    text-align: center;
    font-family: poppins;
    font-weight: 500;
    size: 18px;
}

.image-card.item-03 {
    width: 220px;
    height: 220px;
    border-radius: 300px;
    left: 720px;
    border: solid #F2F2F2 2px;
}

.image-card.item-03 img {
    width: 110px;
    height: 110px;
    top: 36px;
    left: 55px;
    position: absolute;
}

.image-card.item-03 h4 {
    width: 148px;
    height: 30px;
    top: 156px;
    position: relative;
    left: 36px;
    text-align: center;
    font-family: poppins;
    font-weight: 500;
    size: 18px;
}

.image-card.item-04 {
    width: 220px;
    height: 220px;
    border-radius: 300px;
    left: 980px;
    border: solid #F2F2F2 2px;
}

.image-card.item-04 img {
    width: 110px;
    height: 110px;
    top: 36px;
    left: 55px;
    position: absolute;
}

.image-card.item-04 h4 {
    width: 148px;
    height: 30px;
    top: 156px;
    position: relative;
    left: 36px;
    text-align: center;
    font-family: poppins;
    font-weight: 500;
    size: 18px;
}

.image-card.item-05 {
    width: 220px;
    height: 220px;
    border-radius: 300px;
    left: 1240px;
    border: solid orange 2px;
}

.image-card.item-05 img {
    width: 110px;
    height: 110px;
    top: 36px;
    left: 55px;
    position: absolute;
}

.image-card.item-05 h4 {
    width: 148px;
    height: 30px;
    top: 156px;
    position: relative;
    left: 36px;
    text-align: center;
    font-family: poppins;
    font-weight: 500;
    size: 18px;
}

.image-card.item-06 {
    width: 220px;
    height: 220px;
    border-radius: 300px;
    left: 1500px;
    border: solid #F2F2F2 2px;
}

.image-card.item-06 img {
    width: 110px;
    height: 110px;
    top: 36px;
    left: 55px;
    position: absolute;
}

.image-card.item-06 h4 {
    width: 148px;
    height: 30px;
    top: 156px;
    position: relative;
    left: 36px;
    text-align: center;
    font-family: poppins;
    font-weight: 500;
    size: 18px;
}

.right-arro img {
    width: 20.8px;
    height: 20.8px;
    top: 15.6px;
    left: 15.6px;
    position: relative;
}

.right-arro {
    width: 52px;
    height: 52px;
    top: 1239px;
    position: absolute;
    left: 1780px;
    border-radius: 30px;
    background: #27AE60;
}

/* end img box section */

.tex01 {
    width: 191px;
    height: 92px;
    top: 1535px;
    position: absolute;
    left: 155px;
    font-family: poppins;
    font-weight: 700;
    font-size: 32px;
}
.fruits-collection-bg {
    background: #FFF0DC;
    top: 1475px;
    position: absolute;
    height: 350px;
    width: 550px;
    left: 105px;
    border-radius: 20px;
    
}
.fruits-collection-img {
    width: 254px;
    height: 300px;
    top: 1500px;
    position: absolute;
    left: 381px;
    border-radius: 20px;
}
.fruits-collection-arro {
    background:#FFFFFF;
    width: 60px;
    height: 60px;
    top: 1705px;
    position: absolute;
    left: 155px;
    border-radius: 100px;
}
.fruits-collection-arro img {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 18px;
    left: 18px;
}

/*  */
.vegetable-collection {
    background: #FFF0DC;
    top: 1475px;
    position: absolute;
    height: 350px;
    width: 550px;
    left: 685px;
    border-radius: 20px;
}

.text02 {
    width: 171px;
    height: 92px;
    top: 1535px;
    position: absolute;
    left: 735px;
    font-family: poppins;
    font-weight: 700;
    font-size: 32px;
}

.vegetable-collection-img {
    width: 254px;
    height: 300px;
    top: 1500px;
    position: absolute;
    left: 961px;
}
.vegetable-collection-arro{
    background:#FFFFFF;
    width: 60px;
    height: 60px;
    top: 1705px;
    position: absolute;
    left: 735px;
    border-radius: 100px;
}
.vegetable-collection-arro img {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 18px;
    left: 18px;
}
/*  */
.grocery-item {
    background:#FFEBB7;
    top: 1475px;
    position: absolute;
    height: 350px;
    width: 550px;
    left: 1265px;
    border-radius: 20px;
}

.tex03 {
    width: 132px;
    height: 92px;
    top: 1535px;
    position: absolute;
    left: 1315px;
    font-family: poppins;
    font-weight: 700;
    font-size: 32px;
}

.grocery-item-img {
    width: 254px;
    height: 300px;
    top: 1500px;
    position: absolute;
    left: 1541px;
}
.grocery-item-arrow {
    background:#FFFFFF;
    width: 60px;
    height: 60px;
    top: 1705px;
    position: absolute;
    left: 1315px;
    border-radius: 100px;
}
.grocery-item-arrow img {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 18px;
    left: 18px;
}

/* start deals-gallery */
.deals__inner {
    width: 1710px;
    height: 745px;
    top: 1925px;
    position: absolute;
    left: 105px;
}
.deals-gallery-item-01 img {
    width: 405px;
    height: 450px;
    border-radius: 5px;
     background: #F5F5F5;
}
.Icon img {
    width: 126px;
    height: 22px;
    background-color: white;
}
.deals-gallery-item-01 {
    width: 405px;
    height: 622px;
    position: absolute;
    text-align: center;
   
}
.deals-gallery-item-02 {
    width: 405px;
    height: 622px;
    position: absolute;
    left: 435px;
    top: 1px;
}
.deals-gallery-item-03 {
    width: 405px;
    height: 622px;
    position: absolute;
    left: 435px;
    top: 1px;
}
.deals-gallery-item-04 {
    width: 405px;
    height: 622px;
    position: absolute;
    left: 435px;
    top: 1px;
}
/* End deals-gallery */

.popular-brand__inner h2 {
    top: 2770px;
    position: absolute;
    width: 1710px;
    height: 83px;
    left: 105px;
}

.img-box {
    position: absolute;
    width: 1611.64px;
    top: 2883px;
    display: flex;
}

.img-box01 {
    width: 184px;
    height: 95px;
    left: 143px;
    position: absolute;
}
.img-box02 {
    width: 184px;
    height: 95px;
    left: 431px;
    position: absolute;
}
.img-box03 {
    width: 184px;
    height: 95px;
    left: 763px;
    position: absolute;
}
.img-box04 {
    width: 184px;
    height: 95px;
    left: 1019px;
    position: absolute;
}
.img-box05 {
    width: 184px;
    height: 95px;
    left: 1315px;
    position: absolute;
}
.img-box06 {
    width: 184px;
    height: 95px;
    left: 1615px;
    position: absolute;
}

/*  */
.deal-bg__inner {
    width: 1710px;
    background: #FAF4F0;
    position: absolute;
    top: 3125.76px;
    left: 105px;
    height: 441px;
}

.deal-bg__inner .right-bg img {
    position: relative;
    left: 107px;
    top: 31px;
    width: 387px;
    height: 367px;
}

.deal-bg__inner .left-bg img {
    position: absolute;
    left: 1163px;
    top: 30px;
    width: 431px;
    height: 410px;
}
.deal-time {
    position: absolute;
    top: 3225.76px;
    left: 691px;
    height: 241px;
}
.deal-time h4 {
    font-weight: 600;
    width: 449px;
    height: 46px;
    font-size: 36px;
    text-align: center;
}

.days h5 {
    width: 53px;
    height: 30px;
    position: relative;
    font-weight: 500;
    line-height: 30px;
    font-size: medium;
}
.hours {
    width: 74px;
    height: 95px;
    left: 131px;
    position: absolute;
    top: 120px;
}
.hours h5 {
    width: 53px;
    height: 30px;
    position: relative;
    font-weight: 500;
    line-height: 30px;
    font-size: medium;
}

.min {
    width: 74px;
    height: 95px;
    left: 262px;
    position: absolute;
    top: 120px;
}
.min h5 {
    width: 53px;
    height: 30px;
    position: relative;
    font-weight: 500;
    line-height: 30px;
    font-size: medium;
}
.sec {
    width: 74px;
    height: 95px;
    left: 393px;
    position: absolute;
    top: 120px;
}

.sec h5 {
    width: 53px;
    height: 30px;
    position: relative;
    font-weight: 500;
    line-height: 30px;
    font-size: medium;
}

.button a {
    font-family: poppins;
    font-weight: 500;
    top: 15px;
    position: relative;
    text-decoration: none;
    left: 55px;
    color: white;
    
}
.button {
    border-radius: 100px;
    background: #27AE60;
    height: 60px;
    position: absolute;
    width: 180px;
    left: 138px;
}

/*  */
.call-center-layout__inner {
    width: 1710px;
    top: 3667px;
    position: absolute;
    display: flex;
    gap: 30px;
}

.customer-support .tex {
    width: 275px;
    height: 77px;
    top: 11px;
    position:absolute;
    left: 130px;
}

.customer-support {
    width: 405px;
    height: 100px;
    left: 105PX;
    position: relative;
}
.authentic-products {
    width: 405px;
    height: 100px;
    position: relative;
}

.authentic-products .tex {
   width: 275px;
    height: 77px;
    top: 11px;
    position: absolute;
    left: 130px;
}
.secure-payment {
    width: 405px;
    height: 100px;
    position: relative;
}
.secure-payment .tex{
    width: 275px;
    height: 77px;
    top: 11px;
    position: absolute;
    left: 130px;
}

.secure-payment img{
width: 100px;
background-color:#EBFAEB ;
border-radius: 10px;

}

.offer {
    width: 405px;
    height: 100px;
    position: relative;
}

.offer .tex{
    width: 275px;
    height: 77px;
    top: 11px;
    position: absolute;
    left: 130px;

}

.offer img{
width: 100px;
background-color:#EBFAEB ;
border-radius: 10px;

}


/*  */
.bengal-shop img {
    width: 68px;
    height: 61px;
    top: 3967px;
    position: absolute;
    left: 105px;
}
.bengal-shop p {
    line-height: 40px;
    width: 210px;
    height: 40px;
    top: 3943px;
    left: 192px;
    position: absolute;
    font-size: 32px;
    font-weight: 600;
    font-family: poppins;
}

.about-layout__inner {
    width: 1920px;
    position: absolute;
    top: 3867px;
    background: #F5F5F5;
    height: 618px;
}

.about-text {
    position: absolute;
    top: 4068px;
    left: 105px;
    width: 733px;
    height: 84px;
    font-size: 16px;
    font-family: poppins;
}

.app-store {
    position: absolute;
    top: 4192px;
    left: 105px;
}

.socal-media {
    position: absolute;
    top: 4378px;
    left: 105px;
}
.about-text-center {
    width: 305px;
    position: absolute;
    top: 4028px;
    left: 1097px;
    height: 250px;
    font-size: 18px;
    font-weight: 400;
    line-height: 50px;
    color: #828282;
}
.about-heading {
    width: 305px;
    position: absolute;
    top: 3967px;
    left: 1097px;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    font-family: poppins;
    color: #4F4F4F;
}
.info-heading {
    width: 305px;
    position: absolute;
    height: 36px;
    top: 3967px;
    left: 1468px;
    font-size: 24px;
    line-height: 36px;
    font-weight: 500;
    color:#4F4F4F;
}

.info-text {
    width: 305px;
    position: absolute;
    top: 4028px;
    left: 1468px;
    height: 250px;
    font-size: 18px;
    font-weight: 400;
    line-height: 50px;
    color: #828282;
}
.payment-img {
    position: absolute;
    top: 4393px;
    left: 1471px;
    display: flex;
    gap: 23.09px;
}

.text-copy-right {
    position: absolute;
    top: 4393px;
    left: 702px;
    width: 516px;
    line-height: 24px;
    font-family: manrope;
    font-size: 16px;
    color: #828282;
}