.hero-bg__img img {
    width: 1820px;
    height: 878px;
    top: 215px;
    left: 50px;
    border-radius: 30px;
    position: absolute;
}
.hero-bg__text {
    width: 829px;
    height: 458px;
    top: 392px;
    left: 230px;
    position: relative;
    letter-spacing: 0px;
    color: white;
    font-family: Poppins;
    top:392px
}
p.offer {
    width: 323px;
    height: 41px;
    font-size: 24px;
    line-height: 42px;
    top: 392px;
}
.hero-bg__text h4 {
    width: 749px;
    height: 175px;
    font-size: 70px;
    line-height: 90px;
}
span {
    background: #27AE60;
}
.contant {
    width: 829px;
    height: 192px;
    gap: 50px;
    display: flex;
    align-content: flex-start;
    flex-direction: column;
}
.click-me {
    width: 200px;
    height: 60px;
    border-radius: 100px;
    background: #27AE60;
}
.click-me a {
    width: 91px;
    height: 30px;
    top: 15px;
    left: 54px;
    position: relative;
    display: block;
    text-align: center;
      text-decoration: none;
      size: 18px;
      color: black;

}