header {
    background: white;
    height: 208px;
}


.hero-bg__img img {
    width: 1820px;
    height: 878px;
    top: 215px;
    left: 50px;
    border-radius: 30px;
    position: absolute;
}

.hero-bg__text {
    width: 829px;
    height: 458px;
    top: 392px;
    left: 230px;
    position: relative;
    letter-spacing: 0px;
    color: white;
    font-family: Poppins;
    top: 392px
}

p.offer {
    width: 323px;
    height: 41px;
    font-size: 24px;
    line-height: 42px;
    top: 392px;
}

.hero-bg__text h4 {
    width: 749px;
    height: 175px;
    font-size: 70px;
    line-height: 90px;
}

span {
    background: #27AE60;
}

.contant {
    width: 829px;
    height: 192px;
    gap: 50px;
    display: flex;
    align-content: flex-start;
    flex-direction: column;
}

.click-me {
    width: 200px;
    height: 60px;
    border-radius: 100px;
    background: #27AE60;
}

.click-me a {
    width: 91px;
    height: 30px;
    top: 15px;
    left: 54px;
    position: relative;
    display: block;
    text-align: center;
    text-decoration: none;
    size: 18px;
    color: black;

}

/* start img box section */
.image-box-arro img {
    width: 20.8px;
    height: 20.8px;
    top: 15.6px;
    left: 15.6px;
    position: relative;
}

.image-box-arro {
    width: 52px;
    height: 52px;
    top: 1239px;
    position: absolute;
    left: 88px;
    border-radius: 30px;
    background: #F2F2F2;
}

.image-card {
    display: flex;
    top: 1155px;
    position: absolute;
    column-gap: 10px;
    width: 220px;
    height: 220px;
    column-gap: 10px;
}

.image-card.item-01 {
    width: 220px;
    height: 220px;
    border-radius: 300px;
    left: 200px;
    border: solid #F2F2F2 2px;
}

.image-card.item-01 img {
    width: 110px;
    height: 110px;
    top: 36px;
    left: 55px;
    position: absolute;
}

.image-card.item-01 h4 {
    width: 148px;
    height: 30px;
    top: 156px;
    position: relative;
    left: 36px;
    text-align: center;
    font-family: poppins;
    font-weight: 500;
    size: 18px;
}

.image-card.item-02 {
    width: 220px;
    height: 220px;
    border-radius: 300px;
    left: 460px;
    border: solid #F2F2F2 2px;
}

.image-card.item-02 img {
    width: 110px;
    height: 110px;
    top: 36px;
    left: 55px;
    position: absolute;
}

.image-card.item-02 h4 {
    width: 148px;
    height: 30px;
    top: 156px;
    position: relative;
    left: 36px;
    text-align: center;
    font-family: poppins;
    font-weight: 500;
    size: 18px;
}

.image-card.item-03 {
    width: 220px;
    height: 220px;
    border-radius: 300px;
    left: 720px;
    border: solid #F2F2F2 2px;
}

.image-card.item-03 img {
    width: 110px;
    height: 110px;
    top: 36px;
    left: 55px;
    position: absolute;
}

.image-card.item-03 h4 {
    width: 148px;
    height: 30px;
    top: 156px;
    position: relative;
    left: 36px;
    text-align: center;
    font-family: poppins;
    font-weight: 500;
    size: 18px;
}

.image-card.item-04 {
    width: 220px;
    height: 220px;
    border-radius: 300px;
    left: 980px;
    border: solid #F2F2F2 2px;
}

.image-card.item-04 img {
    width: 110px;
    height: 110px;
    top: 36px;
    left: 55px;
    position: absolute;
}

.image-card.item-04 h4 {
    width: 148px;
    height: 30px;
    top: 156px;
    position: relative;
    left: 36px;
    text-align: center;
    font-family: poppins;
    font-weight: 500;
    size: 18px;
}

.image-card.item-05 {
    width: 220px;
    height: 220px;
    border-radius: 300px;
    left: 1240px;
    border: solid orange 2px;
}

.image-card.item-05 img {
    width: 110px;
    height: 110px;
    top: 36px;
    left: 55px;
    position: absolute;
}

.image-card.item-05 h4 {
    width: 148px;
    height: 30px;
    top: 156px;
    position: relative;
    left: 36px;
    text-align: center;
    font-family: poppins;
    font-weight: 500;
    size: 18px;
}

.image-card.item-06 {
    width: 220px;
    height: 220px;
    border-radius: 300px;
    left: 1500px;
    border: solid #F2F2F2 2px;
}

.image-card.item-06 img {
    width: 110px;
    height: 110px;
    top: 36px;
    left: 55px;
    position: absolute;
}

.image-card.item-06 h4 {
    width: 148px;
    height: 30px;
    top: 156px;
    position: relative;
    left: 36px;
    text-align: center;
    font-family: poppins;
    font-weight: 500;
    size: 18px;
}

.right-arro img {
    width: 20.8px;
    height: 20.8px;
    top: 15.6px;
    left: 15.6px;
    position: relative;
}

.right-arro {
    width: 52px;
    height: 52px;
    top: 1239px;
    position: absolute;
    left: 1780px;
    border-radius: 30px;
    background: #27AE60;
}

/* end img box section */

