.page-width {
    width: 1445px;
    background-color: hwb(120 73% 1%);
    margin: 40px;
    height: 574px;
    border-radius: 30px;
}

.text-content {
    width: 764px;
    height: 0px;
    padding: 50px;
    position: relative;
    left: 163px;
    top: 158px;
}

.image-box {
    position: relative;
    width: 0px;
    left: 948px;
}

.img-box-arro {
    width: 20px;
    position: absolute;
    right: 32px;
    height: 77px;
    top: 182px;
}

.category-heading {

}

.category-heading h2 {
    font-size: 36px;
    line-height: 52px;
    color: #333333;
    font-family: poppins;
}

.category-heading hr {
    margin-left: 40;
}

.image-box__inner {
    height: 390px;
    width: 310px;
}

.text-content__h3 {
    color: rgba(3, 185, 3, 0.888);
}

.category__inner {
    padding-bottom: 70px;
    max-width: 1710px;
    width: 100%;
    margin: 0px auto;
}

.category__inner .category-box {
    margin-top: 40px;
}

.category-box .category-card {
    background: white;
    display: inline-block;
    padding: 35px 45px;
    background-color: #F2F2F2;
    margin-right: 30px;
}

.category-box .category-card:last-child {
    margin-right: 0px;
}

.category-card img {
    width: 165px;
    height: 130px;
    margin: 0px;
    padding: 0px;
    display: block;
}

.category-width {
    width: 1494px;
    background: #ffffff;
}

/* new section start */
.fresh.fruits.collection__width {
    width: 714px;
    margin-top: 45px;
    margin-left: 40px;
}

.texe-content-left-saide {
    position: absolute;
    left: 00;
    padding: 113px;
    font-size: 25px;
}

.right-saide-image {
    height: 427px;
    width: 728px;
}

.text-content-right-saide {
    width: 764px;
    height: 0px;
    padding: 50px;
    position: relative;
    left: 46px;
    top: 158px;
    font-size: 25px;
}


.fresh.fruits.collection-right.side.area__width {
    position: absolute;
    left: 785px;
    top: 998px;
}

.image-box02__inner {
    height: 427px;
    width: 728px;
}