.page-width {
    width: 1445px;
    background-color: hwb(120 73% 1%);
    margin: 40px;
    height: 574px;
    border-radius: 30px;
}

.text-content {
    width: 764px;
    height: 0px;
    padding: 50px;
    position: ;
    left: 163px;relative
    top: 158px;
}

.image-box {
    position: relative;
    width: 0px;
    left: 948px;
}

.img-box-arro {
    width: 20px;
    position: absolute;
    right: 32px;
    height: 77px;
    top: 182px;
}

.category-heading {

}

.category-heading h2 {
    font-size: 36px;
    line-height: 52px;
    color: #333333;
    font-family: poppins;
}

.category-heading hr {
    margin-left: 40;
}

.image-box__inner {
    height: 390px;
    width: 310px;
}

.text-content__h3 {
    color: rgba(3, 185, 3, 0.888);
}

.category__inner {
    padding-bottom: 70px;
    max-width: 1710px;
    width: 100%;
    margin: 0px auto;
}

.category__inner .category-box {
    margin-top: 40px;
}

.category-box .category-card {
    background: white;
    display: inline-block;
    padding: 35px 45px;
    background-color: #F2F2F2;
    margin-right: 30px;
}

.category-box .category-card:last-child {
    margin-right: 0px;
}

.category-card img {
    width: 165px;
    height: 130px;
    margin: 0px;
    padding: 0px;
    display: block;
}

.category-width {
    width: 1494px;
    background: #ffffff;
}

/* new section start */

.collection__inner {
    width: 1760px;
    height: 535px;
    top: 00px;
    left: 105px;
    position: relative;
}
.collection-img-box img
 {
    width: 840px;
    height: 535px;
    border-bottom-left-radius: 20px;
}
.right-img-box img {

    width: 840px;
    height: 535px;
    border-bottom-left-radius: 20px;
   
}
.left-img-box {
    display: inline-block;
}
.right-img-box {
    display: inline-block;
}
.left-saide-text {
    width: 280px;
    height: 281px;
    top: 251px;
    position: absolute;
    left: 175px;
}
.right-saide-text
 {
    width: 280px;
    height: 281px;
    top: 251px;
    position: absolute;
    left: 1075px;
}
/* new section start */


.deals-card-item
 {
    width: 1710px;
    height: 590px;
    top: 2395px;
    position: absolute;
    left: 95px;
    gap: 30px;   
    display: inline-block;
}
.deals-card {
    background: rgb(252, 251, 251);
    width: 318px;
    height: 280px;
    display:inline-block;
    gap: 30px;
}



