.page-width {
    width: 1445px;
    background-color: hwb(120 73% 1%);
    margin: 40px;
    height: 574px;
    border-radius: 30px;
}

.category-heading h2 {
    font-size: 36px;
    line-height: 52px;
    color: #333333;
    font-family: poppins;
}

.category-heading hr {
    margin-left: 40;
}

.text-content__h3 {
    color: rgba(3, 185, 3, 0.888);
}

.category__inner {
    padding-bottom: 70px;
    max-width: 1710px;
    width: 100%;
    margin: 0px auto;
}

.category__inner .category-box {
    margin-top: 40px;
}

.category-box .category-card {
    background: white;
    display: inline-block;
    padding: 35px 45px;
    background-color: #F2F2F2;
    margin-right: 30px;
}

.category-box .category-card:last-child {
    margin-right: 0px;
}

.category-card img {
    width: 165px;
    height: 130px;
    margin: 0px;
    padding: 0px;
    display: block;
}

.category-width {
    width: 1494px;
    background: #ffffff;
}

/* Hero section start */
.hero__inner {
    max-width: 1710px;
    width: 100%;
    margin: 0px auto;
    background: #EBFAEB;
    padding: 50px 150px 0;
    display: flex;
    column-gap: 50px;
}

.hero__content {
    padding: 165px 0;
}

.hero__content h4 {
    font-size: 32px;
    line-height: 42px;
    font-weight: 500;
    color: #27AE60;
    font-family: Poppins;
    margin: 0;
}

.hero__content h2 {
    font-size: 70px;
    line-height: 90px;
    font-weight: 700;
    color: #333333;
    font-family: Poppins;
    margin: 0;
}

.hero__content p {
    font-size: 22px;
    line-height: 36px;
    font-weight: 400;
    color: #4F4F4F;
    font-family: Poppins;
    margin: 0;
    margin-bottom: 30px;
}

.hero__content a {
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    color: #ffffff;
    font-family: Poppins;
    background-color: #27AE60;
    padding: 15px 54px;
    border-radius: 50px;
    text-decoration: none;
}

.hero__image-box {
    width: 661px;
    height: auto;
    display: block;
}

.hero__image-box img {
    width: auto;
    height: auto;
    max-width: 100%;
    vertical-align: bottom;
    border-style: none;
}

/* Hero section end */

/* collection section start */

.collection__inner {
    width: 1760px;
    height: 535px;
    top: 00px;
    left: 105px;
    position: relative;
}

.collection-img-box img {
    width: 840px;
    height: 535px;
    border-bottom-left-radius: 20px;
}

.right-img-box img {

    width: 840px;
    height: 535px;
    border-bottom-left-radius: 20px;

}

.left-img-box {
    display: inline-block;
}

.right-img-box {
    display: inline-block;
}

.left-saide-text {
    width: 280px;
    height: 281px;
    top: 251px;
    position: absolute;
    left: 175px;
}

.right-saide-text {
    width: 280px;
    height: 281px;
    top: 251px;
    position: absolute;
    left: 1075px;
}

/* collection section end */
/* deals section start */


.deals-card-item {
    width: 1710px;
    height: 590px;
    gap: 30px;
    display: flex;
}

.peragrape {
    width: 318px;
    height: 90px;
    text-align: center;
    font-size: 20px;
}

.peragrape button {
    width: 258px;
    background-color: #10ff10;
    border: 1px;
    color: whitesmoke;
    font-size: 22px;
    border-radius: 100px;
}

h2.heading-deals {
    width: 1693px;
    height: 94px;
    top: 11px;
    position: relative;
    border-bottom: solid;
    left: 105px;
}

/* deals section end */