.page-width {
    width: 1445px;
    background-color: hwb(120 73% 1%);
    margin: 40px;
    height: 574px;
    border-radius: 30px;
}

.text-content {
    width: 764px;
    height: 0px;
    padding: 50px;
    position: relative;
    left: 163px;
    top: 158px;
}

.image-box {
    position: relative;
    width: 0px;
    left: 948px;
}

.img-box-arro {
    width: 20px;
    position: absolute;
    right: 32px;
    height: 77px;
    top: 182px;
}

.image-box__inner{
    height: 390px;
    width: 310px;
}
.text-content__h3 {
color:rgba(3, 185, 3, 0.888);
}

.category-width ul {
display: inline-block;
}
hr {
    margin: 35px;
}
dt.category {
    padding: 6px;
    background: white;
    display: inline-block;
    width: 218px;
}
.Category-heading {
    margin: 40px;
}
.category-width {
    width: 1494px;
    background: #ffffff;}

    /* new section start */
.fresh.fruits.collection__width {
    width: 714px;
    margin-top: 45px;
    margin-left: 40px;
}

.texe-content-left-saide {
    position: absolute;
    left: 00;
    padding: 113px;
    font-size: 25px;
}
.right-saide-image {
    height: 427px;
    width: 728px;
}
.text-content-right-saide {
    width: 764px;
    height: 0px;
    padding: 50px;
    position:relative;
    left: 46px;
    top: 158px;
    font-size: 25px;
}


.fresh.fruits.collection-right.side.area__width {
    position: absolute;
    left: 785px;
    top: 998px;
}
.image-box02__inner{
    height: 427px;
    width: 728px;
}