.page-width {
    width: 1445px;
    background-color: hwb(120 73% 1%);
    margin: 40px;
    height: 574px;
    border-radius: 30px;
}

.category-heading h2 {
    font-size: 36px;
    line-height: 52px;
    color: #333333;
    font-family: poppins;
}

.category-heading hr {
    margin-left: 40;
}

.text-content__h3 {
    color: rgba(3, 185, 3, 0.888);
}

.category__inner {
    padding-bottom: 70px;
    max-width: 1710px;
    width: 100%;
    margin: 0px auto;
}

.category__inner .category-box {
    margin-top: 40px;
    display: flex;
    column-gap: 30px;
    justify-content: space-between;
}

.category-box .category-card {
    background: white;
    padding: 35px 45px;
    background-color: #F2F2F2;
}

.category-box .category-card:last-child {
    margin-right: 0px;
}

.category-card img {
    width: 165px;
    height: 130px;
    margin: 0px;
    padding: 0px;
    display: block;
}

.category-width {
    width: 1494px;
    background: #ffffff;
}

/* Hero section start */
.hero__inner {
    max-width: 1710px;
    width: 100%;
    margin: 0px auto;
    background: #EBFAEB;
    padding: 50px 150px 0;
    display: flex;
    column-gap: 50px;
}

.hero__content {
    padding: 165px 0;
}

.hero__content h4 {
    font-size: 32px;
    line-height: 42px;
    font-weight: 500;
    color: #27AE60;
    font-family: Poppins;
    margin: 0;
}

.hero__content h2 {
    font-size: 70px;
    line-height: 90px;
    font-weight: 700;
    color: #333333;
    font-family: Poppins;
    margin: 0;
}

.hero__content p {
    font-size: 22px;
    line-height: 36px;
    font-weight: 400;
    color: #4F4F4F;
    font-family: Poppins;
    margin: 0;
    margin-bottom: 30px;
}

.hero__content a {
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    color: #ffffff;
    font-family: Poppins;
    letter-spacing: 0;

    background-color: #27AE60;
    padding: 15px 54px;
    border-radius: 50px;
    text-decoration: none;
}

.hero__image-box {
    width: 661px;
    height: auto;
    display: block;
}

.hero__image-box img {
    width: 100%;
    height: 100%;
    vertical-align: bottom;
    border-style: none;
}

/* Hero section end */

/* collection section start */
.collection__inner {
    max-width: 1710px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    column-gap: 18px;
    height: 535px;
}

.collection__item-bg-image {
    width: 840px;
    height: 535px;
    border-bottom-left-radius: 20px;
}

.text-part01 {
    width: 280px;
    height: 281px;
    position: relative;
    left: 175px;
    bottom: 392px;
}

.text-part02 {
    width: 280px;
    height: 281px;
    position: relative;
    left: 175px;
    bottom: 392px;
}

/* collection section end */
.deals__inner {
    display: flex;
    max-width: 1710px;
    width: 100%;
    gap: 50px;
    height: 590px;
}
.deals-card {
    width: 318px;
    height: 380px;
    border-bottom-left-radius: 20px;
}
.img-tex {
    text-align: center;
}
button {
    width: 258px;
    height: 60px;
    border-radius: 100px;
    background-color: whitesmoke;
    color: #08f508;
    font-weight: 965;
}
/* start populer brand section */

.popular-brand__inner {
    display: flex;
    width: 1611px;
    height: 213px;
    column-gap: 167px;
}
/* fresh-frouts-bg section start */
.fresh-frouts-bg__inner {
    display: flex;
    width: 1710px;
    height: 350PX;
    column-gap: 20px;
}
.fresh-frouts-card.item01 {
    BACKGROUND: #FFF0DC;
    width: 550px;
    height: 350px;
    border-radius: 20px;
}
.fresh-frouts-card.item01 h4 {
    border-radius: 20px;
    width: 191px;
    height: 92px;
    font-size: 32px;
    left: 72px;
    position: absolute;
}
.arro01 {
    position: absolute;
    left: 72px;
    top: 3000px;   
}
.fresh-frouts-card.item01 {
    BACKGROUND: #FFF0DC;
    width: 550px;
    height: 350px;
}
.fresh-frouts-card.item01 img {
    width: 254px;
    height: 300px;
    left: 273px;
    position: absolute;
    top: 2830px;
}

.fresh-frouts-card.item02 {
    BACKGROUND: #DDF1D6;
    width: 550px;
    height: 350px;
    border-radius: 20px;
}
.fresh-frouts-card.item02 img {
    width: 254px;
    height: 300px;
    left: 841px;
    position: absolute;
    top: 2830px;
}
.arro02 {
    position: absolute;
    left: 620px;
    top: 3000px;   
}
.fresh-frouts-card.item02 h4 {
    border-radius: 20px;
    width: 191px;
    height: 92px;
    font-size: 32px;
    left: 620px;
    position: absolute;
}
.fresh-frouts-card.item03 {
    BACKGROUND: #FFEBB7;
    width: 550px;
    height: 350px;
    border-radius: 20px;
}
.fresh-frouts-card.item03 img {
    width: 254px;
    height: 300px;
    left: 1445px;
    position: absolute;
    top: 2830px;
}
.arro03 {
    position: absolute;
    left: 1172px;
    top: 3000px;   
}
.fresh-frouts-card.item03 h4 {
    border-radius: 20px;
    width: 191px;
    height: 92px;
    font-size: 32px;
    left: 1172px;
    position: absolute;
}
/* fresh-frouts-bg section end */


.call-center__inner {
    display: flex;
    width: 1710px;
    left: 105px;
    position: absolute;
    top: 3442px;
    column-gap: 30px;
}


.call-center-01-tex {
    width: 275px;
    height: 77px;
    top: 11px;
    left: 130px;
    position: absolute;
}

.call-center-01 {
    width: 405px;
    height: 100px;
}

