.page-width {
    width: 1710px;
    background-color: #EBFAEB;
    margin: 40px;
    display: inline-block;
}


.text-content {
    width: 775px;
    height: 448px;
    top: 430px;
    left: 200px;
}
.image-box {
    display: inline-block;
    width: 91%;
    position: relative;
    left: 698px;

}

.img-box-arro {
    width: 20px;
    height: 64px;
    display: inline-block;
    position: relative;
    top: -191px;
    left: 30px;
}