* {
    box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figure,
figcaption,
hgroup,
menu,
footer,
header,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: var(--primary-font);
    font-weight: 400;
    color: var(--color-white);
    scroll-behavior: smooth;
}

/*  */
.hero-bg__inner {
    position: relative;
}

.hero-bg__inner img {
    max-width: 100%;
    max-width: 0 auto;
}

.hero-bg__text {
    position: absolute;
    left: 105px;
    top: 50%;
}






.click-me {
    width: 200px;
    height: 60px;
    border-radius: 100px;
    background: #27AE60;
}

.click-me a {
    width: 91px;
    height: 30px;
    top: 15px;
    left: 54px;
    position: relative;
    display: block;
    text-align: center;
    text-decoration: none;
    size: 18px;
    color: black;

}

/* start img box section */
section.image-box {
    margin-top: 50px;
}

.image-box-arro img {
    width: 20.8px;
    height: 20.8px;
}

.image-box-arro {
    width: 52px;
    height: 52px;
    border-radius: 30px;
    background: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-box__inner {
    display: flex;
    max-width: 1820px;
    width: 100%;
    gap: 10px;
    justify-content: space-evenly;
    margin: 0px auto;
    align-items: center;
}

.image-card {
    border: solid 2px #F2F2F2;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    align-items: center;
    justify-content: flex-end;
    padding: 50px;
}



.image-card h4 {
    width: 148px;
    height: 30px;
    font-family: poppins;
    font-weight: 500;
    size: 18px;
}

.right-arro img {
    width: 20.8px;
    height: 20.8px;
    top: 15.6px;

}

.right-arro {
    width: 52px;
    height: 52px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #27AE60;
}

/* end img box section */
.fresh-fruits-collection__inner {
    max-width: 1710px;
    width: 100%;
    display: flex;
    gap: 10px;
    margin: 0 auto;
    justify-content: space-evenly;
    margin-top: 50px;
}

.test01 {
    max-width: 550px;
    width: 100%;
    background: #FFF0DC;
    height: 350px;
    display: flex;
    justify-content: space-evenly;
    border-radius: 20px;
}

.tex01 {
    width: 191px;
    height: 92px;
    font-family: poppins;
    font-weight: 700;
    font-size: 32px;
    display: flex;
    flex-direction: column;
}

.fruits-collection-bg {
    background: #FFF0DC;
    height: 350px;
    width: 550px;

}

.fruits-collection-img {
    width: 254px;
    height: 300px;

}

.tex01 img {
    max-width: 24px;
    width: 100%;
    padding: 20px;
    border-radius: 100px;
    top: 55px;
    position: relative;
    background: #FFFF
}


/*  */

.vegetable-collection__inner {
    max-width: 550px;
    width: 100%;
    background: #FFF0DC;
    height: 350px;
    display: flex;
    justify-content: space-evenly;
    border-radius: 20px;
}

.text02 {
    width: 191px;
    height: 92px;
    font-family: poppins;
    font-weight: 700;
    font-size: 32px;
    display: flex;
    flex-direction: column;
}

.vegetable-collection__inner {
    background: #DDF1D6;
    height: 350px;
    width: 550px;

}

.text02 img {
    max-width: 24px;
    width: 100%;
    padding: 20px;
    border-radius: 100px;
    top: 55px;
    position: relative;
    background: #FFFF
}


/*  */

.grocery-item {
    max-width: 550px;
    width: 100%;
    background: #FFF0DC;
    height: 350px;
    display: flex;
    justify-content: space-evenly;
    border-radius: 20px;
}

.tex03 {
    width: 191px;
    height: 92px;
    font-family: poppins;
    font-weight: 700;
    font-size: 32px;
    display: flex;
    flex-direction: column;
}

.tex03 img {
    max-width: 24px;
    width: 100%;
    padding: 20px;
    border-radius: 100px;
    top: 55px;
    position: relative;
    background: #FFFF
}

/* start deals-gallery */
.deals__inner {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1710px;
    width: 100%;
    margin-top: 50px;
}

.deals-headeing {
    height: 83px;
    border-bottom: solid 2px #E0E0E0;
}

.deals-gallery {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

.deals-headeing p {
    font-size: 36px;
    width: 612px;
    height: 52px;
    font-weight: 600;
}

.deals-gallery img {
    width: 405px;
    height: 450px;
    text-align: center;
    background-color: #F5F5F5;

}

.deals-gallery {
    display: flex;
    gap: 20px;
}

.deals-gallery__tex {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;

}

.Icon img {
    width: 126px;
    height: 22px;
    background-color: white;
}

p.category-name {
    font-size: 14px;
    font-weight: 400;
    color: #BDBDBD;

}

h5.product-name {
    font-size: 20px;
    letter-spacing: 0%;
    font-weight: 500;
    width: 405px;
    height: 33px;
    margin: 0 auto;
    text-align: center;
}

.dollar-sing {
    display: flex;
    column-gap: 15px;
    font-size: 18px;
    margin: 0 auto;
}

p.offer-word {
    text-decoration: line-through;
    color: #BDBDBD;

}

/*  */

/* End deals-gallery */

.popular-brand-heading {
    display: flex;
    max-width: 1710px;
    margin: 0 auto;
    border-bottom: solid 2px #E0E0E0;
    margin-top: 50px;
}

.popular-brand-heading img {
    position: relative;
    width: 20px;
    height: 20.8px;
}

.right-arro-01 {
    width: 52px;
    height: 52px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #27AE60;
    position: relative;
    left: 1440px;
}

.right-arro-02 {
    width: 52px;
    height: 52px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F2F2F2;
    position: relative;
    left: 1430px;
}

.img-box {
    display: flex;
    margin: 0 auto;
    margin-top: 30px;
    max-width: 1710px;
    justify-content: space-evenly;
}

.img-box01 {
    width: 184px;
    height: 95px;
}

.img-box02 {
    width: 184px;
    height: 95px;

}

.img-box03 {
    width: 184px;
    height: 95px;
}

.img-box04 {
    width: 184px;
    height: 95px;

}

.img-box05 {
    width: 184px;
    height: 95px;
}

.img-box06 {
    width: 184px;
    height: 95px;

}

/*  */
.deal-bg {
    margin-top: 100px;
}

.deal-bg__inner {
    max-width: 1710px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
    background: #FAF4F0;
}

.deal-bg__wrap {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.deal-bg__inner .right-bg img {
    width: 387px;
    height: 367px;
}

.deal-bg__inner .left-bg img {
    width: 431px;
    height: 410px;
}

.deal-time {
    height: 241px;
}

.deal-time h4 {
    font-weight: 600;
    width: 449px;
    height: 46px;
    font-size: 36px;
    text-align: center;
}

.days h5 {
    width: 53px;
    height: 30px;
    font-weight: 500;
    line-height: 30px;
    font-size: medium;
}

.hours {
    width: 74px;
    height: 95px;
    left: 131px;

}

.hours h5 {
    width: 53px;
    height: 30px;
    font-weight: 500;
    line-height: 30px;
    font-size: medium;
}

.min {
    width: 74px;
    height: 95px;
    left: 262px;
}

.min h5 {
    width: 53px;
    height: 30px;
    font-weight: 500;
    line-height: 30px;
    font-size: medium;
}

.sec {
    width: 74px;
    height: 95px;
    left: 393px;
}

.sec h5 {
    width: 53px;
    height: 30px;
    font-weight: 500;
    line-height: 30px;
    font-size: medium;
}

.button a {
    font-family: poppins;
    font-weight: 500;
    top: 15px;
    text-decoration: none;
    left: 55px;
    color: white;

}

.button {
    border-radius: 100px;
    background: #27AE60;
    height: 60px;
    width: 180px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    left: 112px;
    position: relative;
}

.time {
    display: flex;
    justify-content: space-around;
}

/*  */
.call-center-layout__inner {
    max-width: 1710px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    gap: 30px;
    margin-top: 50px;
    justify-content: space-evenly;
}



.customer-support {
    display: flex;
    align-items: center;
    gap: 20px;
}

.authentic-products {
    display: flex;
    align-items: center;
    gap: 20px;
}



.secure-payment {
    display: flex;
    align-items: center;
    gap: 20px;
}



.secure-payment img {
    width: 100px;
    background-color: #EBFAEB;
    border-radius: 10px;

}

.offer {
    display: flex;
    align-items: center;
    gap: 20px;
}



.offer img {
    width: 100px;
    background-color: #EBFAEB;
    border-radius: 10px;

}


/*  */