div.width300px {
    width: 300px;
    background-color: blue;
    font-size: 25px;
}
div.box-pading {
    width: 300px;
    padding:20px;
    background-color: rgb(12, 240, 12);
    box-sizing: border-box;
}
