.nav__inner ul {
    list-style-type: none;
    margin: 12px;
    padding: 12px;
    /* width: 500px; */
    background-color: rgb(6, 2, 2);
    font-size: 40px;
    display: flex;
}

ul li a {
    display: block;
    color: rgb(248, 245, 245);
    padding: 12px;
    text-decoration: none;
}

ul li a:hover {
    background-color: rgb(94, 92, 92);

}

.nav__inner p {
    margin: 12px;
}