.left-area {
    background-color: #52abf8;
    margin-bottom: 50px;
    border: 5px solid #000000;
    padding-left: 50px;
}

.right-area {
    background-color: #28c85e;
}

.left-area h1 {
    padding-left: 40px;
}

.left-area p {
    padding-left: 40px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 500;
    color: #ffffff;
}